In [4]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [5]:
plt.style.use("fivethirtyeight")

In [6]:
df=pd.read_csv('data.csv')
df

       Responder_id                                LanguagesWorkedWith
0                 1                    HTML/CSS;Java;JavaScript;Python
1                 2                                C++;HTML/CSS;Python
2                 3                                           HTML/CSS
3                 4                                C;C++;C#;Python;SQL
4                 5        C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
...             ...                                                ...
87564         88182                           HTML/CSS;Java;JavaScript
87565         88212                         HTML/CSS;JavaScript;Python
87566         88282  Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
87567         88377                      HTML/CSS;JavaScript;Other(s):
87568         88863  Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...

[87569 rows x 2 columns]

In [ ]:
ages_x = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]


dev_y = [38496, 42000, 46752, 49320, 53200,
         56000, 62316, 64928, 67317, 68748, 73752]

py_dev_y = [45372, 48876, 53850, 57287, 63016,
            65998, 70003, 70000, 71496, 75370, 83640]

js_dev_y = [37810, 43515, 46823, 49293, 53437,
            56373, 62375, 66674, 68745, 68746, 74583]

In [ ]:

plt.bar(ages_x , dev_y, color="#444444", label="All Devs")
plt.bar(ages_x, py_dev_y, color="#008fd5", label="Python")
plt.bar(ages_x , js_dev_y, color="#e5ae38", label="JavaScript")


plt.legend()

plt.title("Median Salary (USD) by Age")
plt.xlabel("Ages")
plt.ylabel("Median Salary (USD)")

plt.tight_layout()

plt.show()

In [ ]:

x_indexes = np.arange(len(ages_x))

plt.bar(x_indexes , dev_y, color="#444444", label="All Devs")
plt.bar(x_indexes, py_dev_y, color="#008fd5", label="Python")
plt.bar(x_indexes , js_dev_y, color="#e5ae38", label="JavaScript")


plt.legend()

plt.title("Median Salary (USD) by Age")
plt.xlabel("Ages")
plt.ylabel("Median Salary (USD)")

plt.tight_layout()

plt.show()

In [ ]:

x_indexes = np.arange(len(ages_x))
width = 0.25

plt.bar(x_indexes - width, dev_y, color="#444444", label="All Devs")
plt.bar(x_indexes, py_dev_y, color="#008fd5", label="Python")
plt.bar(x_indexes + width, js_dev_y, color="#e5ae38", label="JavaScript")


plt.legend()

plt.title("Median Salary (USD) by Age")
plt.xlabel("Ages")
plt.ylabel("Median Salary (USD)")

plt.tight_layout()

plt.show()

In [ ]:

x_indexes = np.arange(len(ages_x))
width = 0.25

plt.bar(x_indexes - width, dev_y,width=width, color="#444444", label="All Devs")
plt.bar(x_indexes, py_dev_y,width=width, color="#008fd5", label="Python")
plt.bar(x_indexes + width, js_dev_y,width=width, color="#e5ae38", label="JavaScript")


plt.legend()

plt.title("Median Salary (USD) by Age")
plt.xlabel("Ages")
plt.ylabel("Median Salary (USD)")

plt.tight_layout()

plt.show()

In [ ]:

x_indexes = np.arange(len(ages_x))
width = 0.25

plt.bar(x_indexes - width, dev_y,width=width, color="#444444", label="All Devs")
plt.bar(x_indexes, py_dev_y,width=width, color="#008fd5", label="Python")
plt.bar(x_indexes + width, js_dev_y,width=width, color="#e5ae38", label="JavaScript")


plt.legend()

plt.xticks(ticks=x_indexes, labels=ages_x)

plt.title("Median Salary (USD) by Age")
plt.xlabel("Ages")
plt.ylabel("Median Salary (USD)")

plt.tight_layout()

plt.show()

In [ ]:
import csv
from collections import Counter

In [ ]:
with open('data.csv') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    
    language_counter = Counter()
    
    row = next(csv_reader)
    print(row)
    print(row['LanguagesWorkedWith'].split(';'))
    
    for row in csv_reader:
        language_counter.update(row['LanguagesWorkedWith'].split(';'))

In [ ]:
# here 1 item less is printed for js, html ,python and java
# as it is used above
print(language_counter)

In [ ]:
print(language_counter.most_common(15))

In [ ]:
languages = []

popularity = []

for item in language_counter.most_common(15):
    languages.append(item[0])
    popularity.append(item[1])
    
print(languages)
print(popularity)

In [ ]:
plt.bar(languages, popularity)

plt.title("most popular languages")
plt.xlabel("programming languages")
plt.ylabel("num of people use")

plt.tight_layout()

plt.show()

In [ ]:
plt.barh(languages, popularity)

plt.title("most popular languages")
plt.ylabel("programming languages")
plt.xlabel("num of people use")

plt.tight_layout()

plt.show()

In [ ]:
languages.reverse()
popularity.reverse()

plt.barh(languages, popularity)

plt.title("most popular languages")
plt.ylabel("programming languages")
plt.xlabel("num of people use")

plt.tight_layout()

plt.show()

In [ ]:
import pandas as pd

In [ ]:
# using pandas data csv
data = pd.read_csv('data.csv')
ids = data['Responder_id']
lang_responses = data['LanguagesWorkedWith']

language_counter = Counter()

for response in lang_responses:
        language_counter.update(response.split(';'))
        
languages = []

popularity = []

for item in language_counter.most_common(15):
    languages.append(item[0])
    popularity.append(item[1])
    
languages.reverse()
popularity.reverse()

plt.barh(languages, popularity)

plt.title("most popular languages")
plt.ylabel("programming languages")
plt.xlabel("num of people use")

plt.tight_layout()

plt.show()